{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<style>

    .main {
        border: 1px solid #000000;
        border-top: none;
        padding-top: 20px;
    }
    .border {
      border: 1px solid #000
    }
    
    .radio {
        display: inline-block
    }
</style>
{{/block}}

{{block 'body'}}
<div id="comment">
  
<section class="col-md-8 col-md-offset-1">
    <div class="container">
        <h1>{{topic.title}}</h1>
        <p>发布于 {{topic.create_time}}</p>
        <div class="row main border">
                <div class="col-md-3 col-xs-3 text-center">
                    <img src= {{topic.pic}} alt="">
                    <div>
                        <p>{{author}}</p>
                    </div>
                </div>
                <div class="col-md-9 col-xs-9">
                    <p>{{topic.content}}</p>
                </div>
        </div>
    </div>
  </div>
</section>
  {{each comment}}
  
<section class="col-md-8 col-md-offset-1">

    <div class="container">
            <div class="row main">
                    <div class="col-md-3 col-xs-3 text-center">
                            <img src={{$value.pic}} alt="">
                            <div>
                                <p>{{$value.nickname}}</p>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <p>{{$value.content}}</p>
                        </div>
            </div>
        </div>
</section>
  {{/each}}
</div>


<section class="col-md-8 col-md-offset-1">

    <div class="container jumbotron">
            <form id="comment_form"> 
              <input type="hidden" name="id" value={{topic._id}}>
                    <div class="form-group">
                      <label name="commit">发布评论</label>
                      <textarea name="content" class='form-control' rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
        </div>
</section>


{{/block}}


{{block 'script'}}
  <script>
    // $('commetn_form').submit(e => {
    //   e.preventDefault()
    //   console.log($(this).serialize())
    //   let formData = $(this).serialize()
    // })
    $('#comment_form').on('submit', e => {
      e.preventDefault()
      // console.log($('#comment_form').serialize())
      let formData = $('#comment_form').serialize()

      $.ajax({
        url: '/push',
        type: 'get',
        data: formData,
        dataType: 'json',
        success: (data) => {
          if (data.err_code === 1) {
            window.location.href = '/login'
          }
          let dom = $('<section class = "col-md-8 col-md-offset-1"></section>').html(`
          <div class="container">
            <div class="row main">
                    <div class="col-md-3 col-xs-3 text-center">
                            <img src=${data.pic} alt="">
                            <div>
                                <p>${data.author}</p>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-9">
                            <p>${data.content}</p>
                        </div>
            </div>
        </div>
          `)
          $('#comment').append(dom)

        }

      })
      // console.log(formData)
    })
  </script>
{{/block}}
